body {
  background-color: whiteSmoke;
  color: #545554;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}
a {
  font-weight: bold;
  text-decoration: none;
}
header {
  font-family: 'PT Sans', sans-serif;
  margin: 60px 0 auto;
  min-height: 700px;
  overflow: auto;
  text-align: center;
}
.clearfix {
  border-bottom: 1px solid #D4D4D4;
  clear: both;
  margin: 0 auto;
  width: 80%;
}
#logo {
  height: 145px;
}
header #name {
  font-size: 48pt;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 5px;
  text-transform: lowercase;
}
header #title {
  font-size: 28pt;
  font-weight: 400;
  letter-spacing: -1px;
  margin-top: 0;
  text-transform: lowercase;
}
#fname {
  color: #E74C3C;
}
.icon {
  background-color: #FFFFFF;
  display: inline-block;
  margin: 15px;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.icon_txt {
  font-size: 16px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
}
#project_icon {
  /*blue*/
  color: #33A6C9;
}
#project_icon_hover {
  background-color: #33A6C9;
  color: white;
}
#about_icon {
  /*purple*/
  color: #A48BC2;
}
#about_icon_hover {
  background-color: #A48BC2;
  color: #FFFFFF;
}
#contact_icon {
  /*green*/
  color: #1ABC9C;
}
#contact_icon_hover {
  background-color: #1ABC9C;
  color: white;
}
#about, #projects, #contact {
  min-height: 700px;
  overflow: auto;
}
#about_header {
  background-color: #A48BC2;
  padding: 10px 0;
}
#projects_header {
  background-color: #33A6C9;
  padding: 10px 0;
}
#contact_header {
  background-color: #1ABC9C;
  padding: 10px 0;
}
#about a {
  color: #A48BC2;
}
#projects a {
  color: #33A6C9;
}
.section_header_txt {
  color: #FFFFFF;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
.section_container {
  margin: 0 70px;
  padding: 50px;
}
.section_container img {
  float: left;
  padding: 20px;
}
.slider {
  float: left;
  padding: 20px 35px 20px 20px;
}
.slider img {
  padding: 5px;
}
.bx-wrapper img {
  height: 350px;
  width: 540px;
}
.bx-viewport ul {
  margin: 0;
  padding: 0;
}
.contact_txt {
  text-align: center;
}
#social_icons {
  margin-left: 33%;
}