body {
  background-color: #ADB4C4;
  color: #2F3B40;
  font-family: 'Abel', sans-serif;
}

p {  
  font-size: 16px;
  line-height: 1.5em;
}

a:hover {
  text-decoration: none;
}

.clear {
  clear: both;
}

.hero-unit {
  background-color: #EEE2EE;
}

.hero-unit h1 {
  font-family: 'Arbutus Slab', serif;
  font-size: 55px;
  margin-top: -30px;
  padding-bottom: 40px;
  text-align: center;
}

.hero-unit h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.hero-unit h4 {
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
}

.span6 {
  float: right;
  margin-top: -50px;
}

.banner {
  background: url('../images/computer.jpg') no-repeat top center; */
  display: block;
  margin-top: 10px;
  padding-bottom: 305px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

#profile-pic {
  border: 2px solid #FFF;
  float: left;
  position: absolute;
  margin-left: 10px;
  margin-top: 175px;
}