body {
  background-color: #DBDBDB;
  background:url('../images/bg.png');
  color: #6C7778;
  font-family: 'Trebuchet MS', sans-serif;
}

header {
  min-height: 700px;
  overflow: auto;
  width: 100%;
}

footer {
  background-color: #6C7778;
  min-height: 50px;
  width: 100%;
}

#logo {
  margin: 60px 0 auto;
  text-align: center;
}

#logo p {
  font-family: 'PT Sans', sans-serif;
  font-size: 40pt;
  font-weight: 500;
  letter-spacing: -2px;
  text-transform: lowercase;
}

#logo img {
  height: 145px;
}

#fname {
  color: #e74c3c;
}

#title {
  font-size: 20pt;
}

#icons {
  text-align: center;
}

.icon {
  background-color: #FFFFFF;
  display: inline-block;
  margin: 10px;
  height: 100px;
  width: 100px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.icon_txt {
  font-size: 16px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
}

#project_icon {
  /*blue*/
  color: #33A6C9;
}

#project_icon_hover {
  /*blue*/
  background-color: #33A6C9;
  color: white;
}

#about_icon {
  /*purple*/
  color: #A48BC2;
}

#about_icon_hover {
  background-color: #A48BC2;
  color: #FFFFFF;
}

#contact_icon {
  /*green*/
  color: #1ABC9C;
}

#contact_icon_hover {
  /*green*/
  background-color: #1ABC9C;
  color: white;
}

#about, #projects {
  min-height: 700px;
  overflow: auto;
  width: 100%;
}

#contact {
  min-height: 200px;
  overflow: auto;
  width: 100%;
}

#projects_header {
  background-color: #33A6C9;
  padding: 20px 0;
}

#about_header {
  background-color: #A48BC2;
  padding: 20px 0;
}

#contact_header {
  background-color: #1ABC9C;
  padding: 20px 0;
}

.section_header_txt {
  color: #FFFFFF;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

.section_container {
  margin: 0 15%;
  padding: 10px;
}

.section_container img {
  float: left;
  padding: 20px;
}

.section_txt {
  font-size: 14pt;
  margin: 0 15px;
}

.section_container a {
  font-weight: 700;
  text-decoration: none;
}

.projects_tile {
  text-align: center;
}

.projects_tile img {
  float: none;
  margin: 20px;
  position: relative;
}

.projects_detail {
  text-align: justify;
}

.projects_detail:first {
  border-bottom: 1px solid #999999;
}

.contact_txt {
  text-align: center;
}

#social_icons {
  margin-left: 33%;
}
